* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  -webkit-backface-visibility: hidden;
}
.-menu-opened,
.-category-view-opened {
  overflow: hidden;
}
.-hide {
  opacity: 0;
  visibility: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
.-relative {
  position: relative;
}
.-table {
  display: table !important;
}
.-table-cell {
  display: table-cell !important;
}
.-table-row {
  display: table-row !important;
}
.-margin-auto {
  margin: auto !important;
}
.-v-middle {
  vertical-align: middle !important;
}
.-v-top {
  vertical-align: top !important;
}
.-v-bottom {
  vertical-align: bottom !important;
}
.-pull-left {
  float: left;
}
.-pull-right {
  float: right;
}
.-clearfix {
  clear: both;
}
.-transparent {
  background-color: transparent;
}
.-white-bg {
  background-color: #fff;
}
.-material-red-bg {
  background-color: #e24444;
}
.-dark-bg {
  background-color: #111;
}
.-dark-overlay-1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.-dark-overlay-2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.-dark-overlay-3 {
  background-color: rgba(0, 0, 0, 0.3);
}
.-dark-overlay-4 {
  background-color: rgba(0, 0, 0, 0.4);
}
.-dark-overlay-5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.-dark-overlay-6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.-dark-overlay-7 {
  background-color: rgba(0, 0, 0, 0.7);
}
.-dark-overlay-8 {
  background-color: rgba(0, 0, 0, 0.8);
}
.-dark-overlay-9 {
  background-color: rgba(0, 0, 0, 0.9);
}
.-bright-overlay-1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.-bright-overlay-2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.-bright-overlay-3 {
  background-color: rgba(0, 0, 0, 0.3);
}
.-bright-overlay-4 {
  background-color: rgba(0, 0, 0, 0.4);
}
.-bright-overlay-5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.-bright-overlay-6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.-bright-overlay-7 {
  background-color: rgba(0, 0, 0, 0.7);
}
.-bright-overlay-8 {
  background-color: rgba(0, 0, 0, 0.8);
}
.-bright-overlay-9 {
  background-color: rgba(0, 0, 0, 0.9);
}
.-thin {
  font-weight: 100;
}
.-light {
  font-weight: 300;
}
.-regular {
  font-weight: 400;
}
.-medium {
  font-weight: 500;
}
.-bold {
  font-weight: 700;
}
.-bold {
  font-weight: 900;
}
.-upcase {
  text-transform: uppercase;
}
.-text-center {
  text-align: center;
}
.-text-left {
  text-align: left;
}
.-text-right {
  text-align: right;
}
.-about-text {
  margin: auto;
  min-width: 50%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .-about-text {
    width: 60%;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
.-padding-s {
  padding: 25px 15px;
}
.-padding-m {
  padding: 35px 25px;
}
.-padding-l {
  padding: 50px 35px;
}
.-padding-xl {
  padding: 100px 50px;
}
.-padding-t-s {
  padding-top: 25px;
}
.-padding-t-m {
  padding-top: 35px;
}
.-padding-t-l {
  padding-top: 50px;
}
.-padding-t-xl {
  padding-top: 100px;
}
.-padding-r-s {
  padding-right: 15px;
}
.-padding-r-m {
  padding-right: 25px;
}
.-padding-r-l {
  padding-right: 35px;
}
.-padding-r-xl {
  padding-right: 50px;
}
.-padding-b-s {
  padding-bottom: 25px;
}
.-padding-b-m {
  padding-bottom: 35px;
}
.-padding-b-l {
  padding-bottom: 50px;
}
.-padding-b-xl {
  padding-bottom: 100px;
}
.-padding-l-s {
  padding-left: 15px;
}
.-padding-l-m {
  padding-left: 25px;
}
.-padding-l-l {
  padding-left: 35px;
}
.-padding-l-xl {
  padding-left: 50px;
}
@media (max-width: 992px) {
  .-padding-s {
    padding: 10px 5px;
  }
  .-padding-m {
    padding: 20px 15px;
  }
  .-padding-l {
    padding: 35px 25px;
  }
  .-padding-xl {
    padding: 75px 40px;
  }
  .-padding-t-s {
    padding-top: 10px;
  }
  .-padding-t-m {
    padding-top: 20px;
  }
  .-padding-t-l {
    padding-top: 35px;
  }
  .-padding-t-xl {
    padding-top: 75px;
  }
  .-padding-r-s {
    padding-right: 5px;
  }
  .-padding-r-m {
    padding-right: 15px;
  }
  .-padding-r-l {
    padding-right: 25px;
  }
  .-padding-r-xl {
    padding-right: 40px;
  }
  .-padding-b-s {
    padding-bottom: 10px;
  }
  .-padding-b-m {
    padding-bottom: 20px;
  }
  .-padding-b-l {
    padding-bottom: 35px;
  }
  .-padding-b-xl {
    padding-bottom: 75px;
  }
  .-padding-l-s {
    padding-left: 5px;
  }
  .-padding-l-m {
    padding-left: 15px;
  }
  .-padding-l-l {
    padding-left: 25px;
  }
  .-padding-l-xl {
    padding-left: 40px;
  }
}
@media (max-width: 600px) {
  .-padding-s {
    padding: 5px 0px;
  }
  .-padding-m {
    padding: 15px 10px;
  }
  .-padding-l {
    padding: 30px 20px;
  }
  .-padding-xl {
    padding: 60px 35px;
  }
  .-padding-t-s {
    padding-top: 5px;
  }
  .-padding-t-m {
    padding-top: 15px;
  }
  .-padding-t-l {
    padding-top: 30px;
  }
  .-padding-t-xl {
    padding-top: 60px;
  }
  .-padding-r-s {
    padding-right: 0px;
  }
  .-padding-r-m {
    padding-right: 10px;
  }
  .-padding-r-l {
    padding-right: 20px;
  }
  .-padding-r-xl {
    padding-right: 35px;
  }
  .-padding-b-s {
    padding-bottom: 5px;
  }
  .-padding-b-m {
    padding-bottom: 15px;
  }
  .-padding-b-l {
    padding-bottom: 30px;
  }
  .-padding-b-xl {
    padding-bottom: 60px;
  }
  .-padding-l-s {
    padding-left: 0px;
  }
  .-padding-l-m {
    padding-left: 10px;
  }
  .-padding-l-l {
    padding-left: 20px;
  }
  .-padding-l-xl {
    padding-left: 35px;
  }
}
.-margin-s {
  margin: 15px 5px;
}
.-margin-m {
  margin: 30px 20px;
}
.-margin-l {
  margin: 45px 35px;
}
.-margin-xl {
  margin: 60px 50px;
}
.-margin-t-s {
  margin-top: 15px;
}
.-margin-t-m {
  margin-top: 30px;
}
.-margin-t-l {
  margin-top: 45px;
}
.-margin-t-xl {
  margin-top: 60px;
}
.-margin-r-s {
  margin-right: 5px;
}
.-margin-r-m {
  margin-right: 20px;
}
.-margin-r-l {
  margin-right: 35px;
}
.-margin-r-xl {
  margin-right: 50px;
}
.-margin-b-s {
  margin-bottom: 15px;
}
.-margin-b-m {
  margin-bottom: 30px;
}
.-margin-b-l {
  margin-bottom: 45px;
}
.-margin-b-xl {
  margin-bottom: 60px;
}
.-margin-l-s {
  margin-left: 5px;
}
.-margin-l-m {
  margin-left: 20px;
}
.-margin-l-l {
  margin-left: 35px;
}
.-margin-l-xl {
  margin-left: 50px;
}
.-button {
  display: block;
  padding: 12px 16px;
  margin: 10px 0;
  max-width: 100%;
  min-width: 140px;
  outline: none;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
}
.-button.-radius {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.-button.-white {
  border-color: #fff;
  color: #e24444;
}
.-button.-white:hover,
.-button.-white:active,
.-button.-white:focus {
  border-color: #f7f7f7;
  background-color: #f7f7f7;
}
.-button.-material-red {
  border-color: #e24444;
  color: #fff;
}
.-button.-material-red:hover,
.-button.-material-red:active,
.-button.-material-red:focus {
  border-color: #e03737;
  background-color: #e03737;
}
.-button.-line {
  background-color: transparent;
}
.-button.-line.-material-red {
  color: #e24444;
}
.-button.-line.-white {
  color: #fff;
}
.-button.-line.-material-red:hover,
.-button.-line.-material-red:active,
.-button.-line.-material-red:focus {
  border-color: #e24444;
  background-color: #e24444;
  color: #fff;
}
.-button.-line.-white:hover,
.-button.-line.-white:active,
.-button.-line.-white:focus {
  border-color: #fff;
  background-color: #fff;
  color: #e24444;
}
.-button-group .-button {
  width: 140px;
  display: inline-block;
  margin: 0 15px;
}
.-vbox {
  display: table;
  width: 100%;
  height: 100vh;
}
.-vbox .-vbox-content {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.-lightbox {
  display: block;
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #222222;
}
.-lightbox img {
  display: block;
  min-width: 100%;
  max-width: 200%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -50%;
  margin: auto;
}
.-lightbox .-caption {
  visibility: hidden;
  opacity: 0;
  display: table;
  width: 101%;
  height: 100%;
  padding: 15px;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  word-break: break-word;
  transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
}
.-lightbox .-caption .-caption-content {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.-lightbox.-radius {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.-lightbox:hover .-caption {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 600px) {
  .-lightbox {
    height: 200px;
  }
}
.-slider {
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.-slider .-slides {
  height: 100%;
}
.-slider .-slides li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in 0.7s;
  -moz-transition: all ease-in 0.7s;
  -webkit-transition: all ease-in 0.7s;
}
.-slider .-slides li:last-child {
  position: inherit;
}
.-slider .-slides li .-lightbox {
  display: inline-block;
  width: 60px;
  height: 60px;
  cursor: auto;
}
@media (max-width: 600px) {
  .-slider .-slides li .-lightbox {
    width: 40px;
    height: 40px;
  }
}
.-slider .-slides .-active {
  opacity: 1;
  visibility: visible;
}
.-slider .-controllers {
  width: 70%;
}
.-slider .-controllers .-active {
  opacity: 1;
}
.-media {
  margin-top: 30px;
}
.-media .-media-name {
  padding-left: 10px;
}
.-circle {
  min-width: auto;
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  opacity: 0.8;
  border-width: 2px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.-circle.-active {
  background-color: #fff;
}
.-circle:hover,
.-circle:active,
.-circle:focus {
  opacity: 1;
  background-color: #fff;
}
.-service .-circle {
  width: 100px;
  height: 100px;
  font-size: 1.75em;
  cursor: auto;
}
@media (max-width: 992px) {
  .-service {
    margin-bottom: 20px;
  }
}
.-overlay {
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  display: block;
  transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
}
.-overlay.-active {
  opacity: 1;
  visibility: visible;
}
.-overlay .-vbox-content {
  padding: 100px;
}
.-overlay .-vbox-content img {
  max-width: 100%;
}
@media (min-width: 1366px) {
  .-overlay .-vbox-content img {
    max-height: 60%;
  }
}
@media (max-width: 992px) {
  .-overlay .-vbox-content {
    padding: 35px;
  }
  .-overlay .-close-view {
    right: 0;
  }
}
@media (max-width: 992px) and (orientation: landscape) {
  .-overlay .-vbox-content {
    padding: 50px;
  }
}
@media (max-width: 600px) {
  .-overlay .-vbox-content {
    padding: 25px;
  }
}
.-category-view {
  opacity: 0;
  visibility: hidden;
  display: block;
  overflow-y: auto;
  position: absolute;
  right: 0;
  z-index: 999;
  transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -webkit-transition: all ease-in 0.5s;
  transition-delay: 0.2s;
}
.-category-view .-v-middle {
  width: 100%;
}
.-category-view .-category-heading {
  position: relative;
  height: 60vh;
}
.-category-view .row {
  margin: 0;
}
.-category-view .col {
  padding: 0;
}
@media (max-width: 600px) {
  .-category-view h3 {
    font-size: 1.875em;
  }
}
.-category-view.-active {
  opacity: 1;
  visibility: visible;
}
.-close-view {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 0;
}
.-close-view img {
  width: auto !important;
  height: 15px;
  opacity: 0.7;
  transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
}
.-close-view:hover img,
.-close-view:active img,
.-close-view:focus img {
  opacity: 1;
}
@media (max-width: 992px) {
  .-close-view {
    top: 25px;
    margin-right: 20px;
  }
}
header {
  width: 100%;
  position: relative;
  z-index: 100;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  visibility: visible;
  transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -webkit-transition: all ease-in 0.5s;
}
header h1 {
  margin: 0 0 40px 0;
  font-size: 3.7em;
}
@media (orientation: portrait) and (max-width: 992px) {
  header h1 {
    font-size: 3.5em;
  }
}
@media (orientation: landscape) and (max-width: 992px) {
  header h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 600px) {
  header h1 {
    font-size: 2.5em;
    padding: 0 15px;
  }
}
@media (max-width: 600px) {
  header .-vbox-content .-button {
    width: auto;
    min-width: auto;
    margin-bottom: 20px;
  }
}
header .scroll-down {
  display: table-row;
  font-size: 2.5em;
}
header .scroll-down svg {
  width: 15px;
  height: auto;
}
header .scroll-down svg .scroll-down-circle {
  animation: moving-circle 2s ease-in-out infinite;
  animation-delay: 1s;
}
@keyframes moving-circle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(195px);
  }
  100% {
    transform: translateY(0);
  }
}
#main-content {
  position: relative;
  z-index: 0;
}
footer .-social-links .-radius {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
footer .-social-links .-button {
  width: 34px;
  height: 34px;
  border: 0;
  background-color: #666;
  font-size: 16px;
}
footer .-social-links i {
  color: #111;
}
.-nav-fixed {
  height: 94px !important;
  position: relative;
  height: 56px;
  z-index: 998;
}
.-nav-fixed nav {
  height: auto;
  padding: 5px 35px;
  position: fixed;
  box-shadow: none;
  transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
}
.-nav-fixed nav .hide-on-med-and-down li a {
  padding: 0 15px;
  color: #cccccc;
  transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
}
.-nav-fixed nav .hide-on-med-and-down li:hover,
.-nav-fixed nav .hide-on-med-and-down li:active,
.-nav-fixed nav .hide-on-med-and-down li:focus {
  background-color: transparent;
}
.-nav-fixed nav .hide-on-med-and-down li:hover a,
.-nav-fixed nav .hide-on-med-and-down li:active a,
.-nav-fixed nav .hide-on-med-and-down li:focus a {
  color: #fff;
}
.-nav-fixed nav .-button-collapse {
  float: right;
  display: none;
}
.-nav-fixed nav .-button-collapse img {
  height: 25px;
}
@media (max-width: 992px) {
  .-nav-fixed nav .-button-collapse {
    display: block;
  }
}
.-nav-fixed nav .-side-nav {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100%;
  right: 0;
  z-index: 999;
  overflow-y: scroll;
  margin: 0;
  background-color: #fff;
  background-color: #111;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
}
.-nav-fixed nav .-side-nav.-active {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.-nav-fixed nav .-side-nav .-close-nav-wrapper {
  padding: 35px 25px 25px 35px;
  line-height: 1;
}
.-nav-fixed nav .-side-nav .-close-nav-wrapper .-close-nav {
  line-height: 1;
  cursor: pointer;
}
.-nav-fixed nav .-side-nav .-close-nav-wrapper .-close-nav img {
  width: 15px;
}
.-nav-fixed nav .-side-nav li {
  float: none;
  padding: 0;
}
.-nav-fixed nav .-side-nav li a {
  display: block;
  height: 64px;
  padding: 0 25px;
  color: #fff;
  font-size: 1rem;
  line-height: 64px;
}
.-nav-fixed nav .-side-nav li:hover,
.-nav-fixed nav .-side-nav li:active,
.-nav-fixed nav .-side-nav li:focus {
  background-color: #1e1e1e;
}
@media (max-width: 992px) {
  .-nav-fixed nav {
    padding: 5px 25px;
  }
  .-nav-fixed nav .-button-collapse {
    float: right;
  }
}
@media (max-width: 600px) {
  .-nav-fixed nav {
    padding: -5px 25px;
  }
  .-nav-fixed nav .-button-collapse img {
    width: 20px;
  }
}
.-section {
  width: 100%;
  background-position: center center;
  background-size: cover;
}
.-section .-divider {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50px;
  height: 2px;
  background-color: #e24444;
}
.-section .-header {
  font-size: 1.875em;
}
.-section.portfolio-section {
  position: relative;
}
.-section.portfolio-section .col {
  padding: 0;
}
.-section.portfolio-section .row {
  margin: 0;
}
.-section.about-me-section .-lightbox {
  margin: auto;
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  cursor: auto;
}
@media (max-width: 992px) {
  .-section.about-me-section .-lightbox {
    width: 115px;
    height: 115px;
  }
}
@media (max-width: 600px) {
  .-section.about-me-section .-lightbox {
    width: 100px;
    height: 100px;
  }
}
.-section.services-section .row {
  margin: 0;
}
.-section.contact-me-section .row {
  margin: 0;
}
.-section.contact-me-section .row input:focus:not([readonly]),
.-section.contact-me-section .row textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e24444;
  box-shadow: 0 1px 0 0 #e24444;
}
.-section.contact-me-section .row input:focus:not([readonly]) + label,
.-section.contact-me-section .row textarea:focus:not([readonly]) + label {
  color: #e24444;
}
.-section.contact-me-section .row input[type="submit"] {
  margin-left: 10px;
}
.-section.contact-me-section .row textarea {
  min-height: 85px;
}
.-section.contact-me-section .row .col.offset-m3 {
  margin-left: 25%;
}
@media (max-width: 600px) {
  .-section.contact-me-section .row .col.offset-m3 {
    margin-left: 0;
  }
}
on .row .col.offset-m3 {
    margin-left: 0;
  }
}
